<ion-header>
  <ion-navbar>
    <ion-title>
      Detectar el internet
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2>Estado del internet</h2>

  <button ion-button
          *ngIf="online"
          block
          color="secondary">
    Online!
  </button>

  <button ion-button
          *ngIf="!online"
          block
          color="danger">
    off-line
  </button>

  <h4>Descripción</h4>
  <p>
    {{ estado }}
  </p>


  <button ion-button block
          (click)="checkNetwork()">
      Revisar status de nuevo!
  </button>



</ion-content>
